<html ng-app>
<head>
	<title>Hide</title>
	<meta charset="utf-8"> 
	<style type="text/css">
		.error{background:red;display:block;}
		.warning{background: yellow;display:block;}
	</style>
</head>
<body>
	<div ng-controller="myController">
		<div ng-class="{error:isError, warning:isWarning}">{{messageText}}</div>
		<button ng-click="showError()">error</button>
		<button ng-click="showWarning()">warning</button>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>